.button {
    display: flex;
    height: auto;
    margin: 0;
    padding: 1.5rem 1rem;
    background: var(--gray);
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    transition: background-color 0.2s var(--smooth-timing-function);
    background-color: var(--button-background-color);
    line-height: 0;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;

    .icon {
        svg {
            width: 35px;
            height: 35px;
        }
    }

    &:hover {
        background-color: var(--button-background-color-hover);
    }
}