.layers {
    display: flex;
    width: 248px;
    height: 799px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    grid-area: layers;

    .layer {
        position: relative;
        height: 220px;
        width: 220px;
        border: 2px solid transparent;
        border-radius: 12px;
        transition: background-color 0.25s var(--smooth-timing-function);
        display: grid;
        overflow: hidden;

        > * {
            grid-column: 1;
            grid-row: 1;
        }

        img {
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            border-radius: 10px;
            padding: 0.25rem;
        }

        .input-file {
            display: none;
        }

        label, > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: all 0.25s var(--smooth-timing-function);
        }

        .__icon {
            display: flex;
            background-color: transparent;
            border: none;
            transition: opacity 0.25s var(--smooth-timing-function);
        }

        &.--add {
            border: 2px dashed #6100DF;

            .__icon {
                background-color: transparent;
                border: none;
            }
        }
        &.--change {
            label {
                opacity: 0;
            }
        }
        &.--canvas {
            border: 2px solid transparent;
            animation: slide-from-left 0.25s ease-in forwards, appear 0.25s ease-in forwards;

            img {
                object-fit: fill;
            }
            .__background {
                border-radius: 10px;
                padding: 0.25rem;
            }
            .__icon {
                opacity: 0;
            }
        }

        &.selected {
            border: 2px solid var(--layer-border-color)
        }
        &:hover {
            cursor: pointer;
            border: 2px solid var(--layer-border-color);
            color: var(--gray);

            label, > div {
                background-color: var(--eerie-black-low-opacity);
            }

            &.--change {
                label {
                    opacity: 1;
                }
            }

            &.--canvas {
                .__icon {
                    opacity: 1;

                    svg {
                        &:hover {
                            fill: var(--gray);
                        }
                    }
                }
            }
        }
    }
}