.layers {
    display: flex;
    width: 248px;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    grid-area: layers;

    h3 {
        text-align: left;
    }

    .layer {
        position: relative;
        height: 150px;
        width: 150px;
        border: 2px solid transparent;
        border-radius: 12px;
        transition: background-color 0.25s var(--smooth-timing-function);
        display: grid;
        overflow: hidden;
        justify-items: center;
        align-items: center;

        > * {
            grid-column: 1;
            grid-row: 1;
        }

        img {
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            border-radius: 10px;
            margin: 0.25rem;
        }

        .input-file {
            display: none;
        }

        label, > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            transition: all 0.25s var(--smooth-timing-function);
        }

        .__icons {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            background-color: transparent;
            border: none;
            transition: opacity 0.25s var(--smooth-timing-function);

            > .icon {
                display: flex;
                border-radius: 0.5rem;
                transition: background-color 0.25s var(--smooth-timing-function);
                background: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    color: var(--gray);
                    background-color: var(--eerie-black-low-opacity);
                }
            }
        }

        &.--add {
            border: 2px dashed #6100DF;
            transition: box-shadow 0.35s var(--smooth-timing-function);

            .__icons {
                background-color: transparent;
                border: none;
            }

            &.dragging {
                box-shadow: 0 0 20px 20px var(--eerie-black-low-opacity);
            }
        }
        &.--change {
            .__icons {
                opacity: 0;
            }
        }
        &.--canvas {
            border: 2px solid transparent;
            animation: slide-from-left 0.25s ease-in forwards, appear 0.25s ease-in forwards;

            img {
                object-fit: fill;
            }
            .__background {
                border-radius: 10px;
                padding: 0.25rem;
            }
            .__icons {
                opacity: 0;
            }
        }

        &.selected {
            border: 2px solid var(--layer-border-color)
        }
        &:hover {
            &.--change {
                background-color: var(--eerie-black-low-opacity);
                .__icons {
                    color: var(--eerie-black-low-opacity);
                    opacity: 1;
                }
            }

            &.--canvas {
                background-color: var(--eerie-black-low-opacity);
                .__icons {
                    opacity: 1;

                    svg {
                        &:hover {
                            fill: var(--gray);
                        }
                    }
                }
            }
        }
    }
}