.workspace {
    display: grid;
    grid-template-areas:
    "header header"
    "layers canvas"
    " . toolbar";
    grid-template-columns: 248px 1fr;

    &.stacked {
        grid-template-areas:
        "header header"
        "canvas canvas"
        "layers layers"
        "toolbar toolbar";

        .layers {
            flex-direction: row;
            height: 248px;
            width: auto;
        }
    }

    h2 {
        grid-area: header;
        text-align: left;
        padding: 1rem 0;
    }

    .canvas-container {
        width: 100%;
        min-height: 43.75rem;
        flex-grow: 1;
        border: 1px solid var(--eerie-black-low-opacity);
        border-radius: 0.5rem;
        display: grid;
        overflow: hidden;
        grid-area: canvas;
        align-items: center;

        canvas {
            grid-column: 1;
            grid-row: 1;
            animation: appear 0.5s ease-in forwards;

            &.--image {
                width: auto;
                height: auto;
            }

            &.--canvas {
                cursor: url("/pencil.svg") 0 20, auto;
                width: auto;
                height: auto;
            }
        }

        img {
            grid-column: 1;
            grid-row: 1;
        }

        video {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            justify-self: center;
        }
    }

}