.workspace {
    display: grid;
    grid-template-areas:
    "layers canvas"
    " . toolbar";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;

    &.stacked {
        grid-template-areas:
        "canvas canvas"
        "layers layers"
        "toolbar toolbar";

        .layers {
            flex-direction: row;
            height: 248px;
            width: auto;
        }
    }

    h2 {
        grid-area: header;
        text-align: left;
        padding: 1rem 0;
    }

    .canvas-container {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        border: 1px solid var(--eerie-black-low-opacity);
        border-radius: 0.5rem;
        display: grid;
        overflow: hidden;
        grid-area: canvas;
        align-items: center;
        justify-items: center;
        justify-content: center;

        canvas {
            grid-column: 1;
            grid-row: 1;
            animation: appear 0.5s ease-in forwards;

            &.--image {
                width: auto;
                height: auto;
            }

            &.--canvas {
                cursor: url("/pencil.svg") 0 20, auto;
                width: auto;
                height: auto;
            }
        }

        img {
            grid-column: 1;
            grid-row: 1;
            object-fit: contain;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: opacity 1s var(--smooth-timing-function);

            &.hidden {
                opacity: 0;
            }
        }

        .photo-booth {
            display: grid;
            align-items: center;
            justify-items: center;
            overflow: hidden;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            grid-row: 1;
            grid-column: 1;
            opacity: 0;
            transition: opacity 1s var(--smooth-timing-function);

            &.active {
                opacity: 1;
            }

            .photo-booth-controls {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
                align-self: flex-end;
                justify-self: flex-start;
                grid-column: 1;
                grid-row: 1;
                padding: 1rem;

                .button {
                    transition: transform 0.8s var(--smooth-timing-function), background-color 0.8s var(--smooth-timing-function);
                    transform: translate(10%, -10%);
                    align-self: flex-end;
                    border-radius: 50%;
                    border: 2px solid var(--layer-border-color);
                    padding: 1.5rem;

                    &.approve-photo {
                        color: var(--green-success);
                    }

                    &.reject-photo {
                        color: var(--engineering-orange);
                    }

                    svg {
                        pointer-events: none;
                    }
                }
            }

            video {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                grid-column: 1;
                grid-row: 1;
            }
        }
    }

}

@media (width <= 720px) {
    .workspace {
        grid-template-areas:
        "header header"
        "canvas canvas"
        "layers layers"
        "toolbar toolbar";
        justify-items: center;
        gap: 2rem 0;

        .canvas-container {
            min-height: 25rem;
        }
    }
}